{% extends "base.html" %}

{% block title %}
	Prescro | Prescribe Online
{% endblock title %}

{% block page %}
	<div class="container">
		<div class="hex_container">
			<div class="hex_col">
				<div class="hexagon">
					<div class="hex_bar_tl"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-hospital-o"></i>
					</div>
					<div class="hex_right"></div>
				</div>
				<div class="hexagon">
					<div class="hex_bar_tl"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-stethoscope"></i>
					</div>
					<div class="hex_right"></div>
				</div>
				<div class="hexagon">
					<div class="hex_bar_tl"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-user-md"></i>
					</div>
					<div class="hex_right"></div>
				</div>
				<div class="hexagon">
					<div class="hex_bar_tl"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-user-md"></i>
					</div>
					<div class="hex_right"></div>
				</div>
			</div>
			<div class="hex_col_alt">
				<div class="hexagon">
					<div class="hex_bar_tr"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-user-md"></i>
					</div>
					<div class="hex_right"></div>
				</div>
				<div class="hexagon">
					<div class="hex_blank"></div>
				</div>
				<div class="hexagon">
					<div class="hex_bar_br"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-ambulance"></i>
					</div>
					<div class="hex_right"></div>
				</div>
			</div>
			<div class="hex_col">
				<div class="hexagon">
					<div class="hex_bar_tr"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-medkit"></i>
					</div>
					<div class="hex_right"></div>
				</div>
				<div class="hexagon">
					<div class="hex_bar_br"></div>
					<div class="hex_left"></div>
					<div class="hex_mid_1">
						<i class="fa fa-battery-full"></i>
					</div>
					<div class="hex_right"></div>
				</div>
			</div>
		</div>
  </div>
{% endblock page %}